/* global.css */

body {
    background-color: #ECF0F1;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333333; /* Text Color */
}

button:hover {
    background-color: #3498DB;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2C3E50;
}

.app-main {
    margin-left: 20%;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
}

.food-card {
    margin: 1rem;
    flex: 1 0 18rem;
    max-width: 18rem;
    height: 25rem;
    overflow: auto;
    padding: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform .2s;
}

.food-card:hover {
    transform: scale(1.05);
}


footer {
    width: 100%;
    height: 60px;
    background-color: #f8f9fa;
    text-align: center;
    line-height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
}


button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #E74C3C;
    cursor: pointer;
}

