.filled-star {
    color: gold;
}

.empty-star {
    color: lightgrey;
}

.filled-star:hover, .filled-star:hover ~ .fa-star {
    color: gold;
}

.empty-star:hover, .empty-star:hover ~ .fa-star {
    color: lightgrey;
}