label {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.fa-star {
    color: gray;
}

input[type="radio"]:checked ~ .fa-star {
    color: gold;
}